<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div>
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>一个轻量级的Java快速开发平台(框架)，能快速开发项目并交付</li>
            <li>前后端开发封装，快速实现CRUD开发</li>
            <li>完善的XSS防范及脚本过滤，彻底杜绝XSS攻击</li>
            <li>基于角色的权限管理，支持操作权限和数据权限</li>
            <li>基于Maven模块化开发，可快速实现个性化业务模块</li>
            <li>支持单页iframe嵌套和多页tab标签框架</li>
            <li>支持分布式session管理，能够集群部署</li>
            <li>支持数据库读写分离，动态切换数据源</li>
            <li>支持Mybatis-Ehcache二级缓存</li>
        </ul>
		
		<h3>&nbsp;&nbsp;&nbsp;主要功能</h3>
		<ul>
			<li></li>
		</ul>
		
        <h3>&nbsp;&nbsp;&nbsp;操作说明</h3>
        <ul>
        	<li></li>
        </ul>
    </div>
</div>
</body>
</html>