<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itstar.es.office.search.shiro.dao.SysDataPrivilegeMapper">
	
	<select id="countDataPrivilegeChildren" resultType="int">
		SELECT
			COUNT(*)
		FROM
			sys_data_privilege
		WHERE
			parent_id = #{value}
	</select>

	<select id="listDataPrivilegeChildren" resultType="long">
		SELECT
			data_id
		FROM
			sys_data_privilege
		WHERE
			parent_id = #{value}
	</select>
	
	<select id="list" resultType="SysDataPrivilegeEntity">
		SELECT
			data.data_id,
			data.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_data_privilege p
				WHERE
					p.data_id = data.parent_id
			) AS parentName,
			data.code,
			data.name,
			data.status,
			data.order_num
		FROM
			sys_data_privilege data
		ORDER BY
			data.order_num ASC
	</select>	
		
	<insert id="save">
		INSERT INTO sys_data_privilege (
			data_id,
			parent_id,
			code,
			name,		
			order_num,
			status,
			gmt_create
		)
		VALUES (
			#{dataId},
			#{parentId},
			#{code},
			#{name},
			#{orderNum},
			#{status},
			NOW()
		)
	</insert>
	
	<select id="getObjectById" resultType="SysDataPrivilegeEntity">
		SELECT
			data.data_id,
			data.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_data_privilege p
				WHERE
					p.data_id = data.parent_id
			) AS parentName,
			data.code,
			data.name,		
			data.status,
			data.order_num
		FROM
			sys_data_privilege data
		WHERE
			data.data_id = #{value}
	</select>
	
	<update id="update">
		UPDATE sys_data_privilege
		<set> 
			<if test="dataId != null">data_id = #{dataId}, </if>
			<if test="parentId != null">parent_id = #{parentId}, </if>
			<if test="code != null">code = #{code}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="orderNum != null">order_num = #{orderNum}, </if>
			<if test="status != null">status = #{status}, </if>			
			gmt_modified = NOW()
		</set>
		where data_id = #{dataId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_data_privilege
		WHERE
			data_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
</mapper>