<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('所属文件级别')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<ul id="levelTree" class="ztree"></ul>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script type="text/javascript">
	var setting = {
		data : {
			simpleData : {
				enable : true,
				idKey : "dataId",
				pIdKey : "parentId",
				rootPId : 0
			},
			key : {
				url : "nourl"
			}
		}
	};
	var ztree;

	var vm = new Vue({
		el : '#dpLTE',
		methods : {
			getLevel : function(menuId) {
				$.get('../../sys/offices/select', function(r) {
					ztree = $.fn.zTree.init($("#levelTree"), setting, r);
					if(top.layerForm.vm.file.fileLevelId != 0) {
						var node = ztree.getNodeByParam("dataId", top.layerForm.vm.file.fileLevelId);
						ztree.selectNode(node);
						top.layerForm.vm.file.fileLevelName = node.name;
					}
				})
			},
			acceptClick: function() {
				var node = ztree.getSelectedNodes();
				top.layerForm.vm.file.fileLevelId = node[0].dataId;	
				top.layerForm.vm.file.fileLevelName = node[0].name;
				dialogClose();
			}
		},
		created : function() {
			this.getLevel();
		}
	})
	</script>
</body>
</html>